# --- Web Framework ---
streamlit

# --- Data Manipulation ---
pandas

# --- LangChain & LangGraph Ecosystem ---
langchain-core
langchain-ollama
langchain-groq
langgraph
tabulate
pandas-stubs
python-dotenv
sentence-transformers
langchain-huggingface
chromadb
torchvision
torch